.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar-container {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 100%;
    height: 200%;
    position: absolute;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    display: flex;
    align-items: center;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.searchContainer input {
    padding: 7px;
    font-size: 20px;
    outline: none;

}

.searchContainer button {
    padding: 12px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 600;
    background: #1a73e8;
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    letter-spacing: 1px;

}


.nav-links li {
    list-style: none;
    margin: 0 12px;
}


.nav-links li a {
    position: relative;
    color: #333;
    text-decoration: none;
}


.logo {
    text-decoration: none;
}

.logo h2 {
    background-image: linear-gradient(45deg, #304ffe, #29e6a7);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}



.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #34efdf;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li.animate a:hover:before {
    width: 100%;
}

.nav-links li.animate a:before {
    left: 50%;
    transform: translateX(-50%);
}

.toggle_btn {
    display: none;
}

.dropdown_menu {
    position: absolute;
    right: 0rem;
    top: 2rem;
    background: white;
    z-index: 999;
    width: 150px;
    display: none;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown_menu li a {
    color: black;
    text-decoration: none;
}

.dropdown_menu .searchContainer {

    padding: 0;
    gap: 5px;
    width: 100%;
    padding: 0 0.5rem;

}

.dropdown_menu .searchContainer input {
    width: 100%;
    font-size: 0.5rem;
    padding: 0.2rem;

}

.dropdown_menu .searchContainer button {
    width: 50%;
    font-size: 0.3rem;
    padding: 0.3rem;
}

/* For all screens */

@media screen and (max-width: 850px) {

    .navbar .searchContainer,
    .nav-links {
        display: none;
    }

    .navbar {
        width: 100%;
        position: relative;
    }

    .navbar-container {
        padding: 1rem;
    }

    .logo {
        font-size: 0.6rem;

    }

    .toggle_btn {
        display: block;
        color: black;
    }



    .dropdown_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        height: 100vh;
        padding-top: 0.3rem;
        font-size: 0.8rem;
    }

    .dropdown_menu.close {
        display: none;
    }

    .dropdown_menu li {

        padding: 0;
    }

    .dropdown_menu .searchContainer {
        /* border: 2px solid red; */
    }
}