.hidden {
    display: none;
}

.stock-card-container {
    display: flex;
    gap: 15px;
    padding: 10px;
    color: black;
    align-items: left;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.stock-card-container:hover {
    background-color: whitesmoke;
    position: relative;
}

.stock-card-container .stock-name {
    font-weight: 400;
    font-size: 25px;
    width: 20%;
}

.stock-card-container .stock-price {
    font-weight: bold;
    font-size: 20px;
    width: 20%;
}

.stock-card-container .price-change.positive {
    color: green;
}

.stock-card-container .price-change.negative {
    color: red;
}

.stock-card-container .price-change {
    display: flex;
    font-size: 15px;
    gap: 5px;
    align-items: center;
    left: 30%;
    width: 30%;


}

.stock-card-container .addToWatchlist-btn {
    color: black;
}

.stock-card-container .addToWatchlist-btn:hover {
    color: gray;
}