:root {
    --dark-black: black;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* padding: 1rem 0.5rem; */
    padding-top: 8vh;
    background: #f1f5f9;

    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}