.news h2 {
    margin: 1rem 0 0.5rem 1rem;
    color: #304ffe;
}

.news hr {
    width: 95%;
    margin-left: 1rem;
}

.newsContainer {
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 0.3fr));
    gap: 0.5rem;
    justify-content: center;
    /* border: 2px solid red; */
    padding: 20px;
}

@media screen and (max-width: 500px) {
    .newsContainer {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        gap: 1rem;
    }
}